body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.toggle-theme button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.goals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.goal {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

body.dark-mode {
    background-color: #333;
    color: white;
}

header.dark-mode {
    background-color: #222;
}

nav ul li a.dark-mode {
    color: #ddd;
}

.goal.dark-mode {
    background-color: #555;
}
#home{
    background-color: #94c9ee;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: justify;
    box-shadow: 0px 0px 10px black;
}
#about{
    background-color: rgb(169, 221, 49);
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}
#goals{
    background-color: rgb(169, 221, 49);
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    width: 98.5%;
}
#contact{
    background-color: #94c9ee;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: justify;
    box-shadow: 0px 0px 10px black;
}